<footer
  class="bg-primary-500/10 mt-16 py-10 lg:mt-20 lg:py-8"
  aria-labelledby="footer-heading"
>
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col justify-end gap-12 sm:gap-16 lg:flex-row">
      <div class="flex max-w-sm flex-col items-end gap-6 sm:gap-8">
        <img class="h-20 w-auto" src="/assets/seeds.png" alt="Seeds" style="transform: scaleX(-1) scaleY(-1);" />
        <p class="text-primary-950/70 text-sm">
          © 2025 Pollination Communications
        </p>
      </div>
    </div>
  </div>
</footer>
