<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/headshot.jpg"
        alt="A photo of Chelsea Kellogg, founder of Pollination Communications"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">
            About Chelsea
          </h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 text-base sm:text-lg">
              Chelsea Kellogg has been a communicator for over 15 years. She
              began her career as a journalist and creative writer. After
              managing a literary magazine and working at a small alternative
              weekly newspaper in Seattle, she moved into public relations.
              Chelsea built a foundation in technology PR working on Microsoft
              consumer brands and ultimately helped launch Windows 10.
            </p>
            <p class="text-primary-950/70 text-base sm:text-lg">
              In 2016, Chelsea was called to use her skills helping local
              government tackle urgent issues. In her time working for the
              Seattle Mayor she directed marketing campaigns, trained
              spokespeople, built and managed rapid response teams, launched
              City initiatives totaling over $1B and managed high profile
              public-private sector rollouts. As a member of the executive team,
              she was a trusted leader on braiding policy objectives with
              communications strategy.
            </p>
            <p class="text-primary-950/70 text-base sm:text-lg">
              Using her experience developing executive communications and
              supporting C-suite level officials, Chelsea is skilled at
              leveraging compelling messengers to advance business objectives.
              From landing interviews on MSNBC, CNN and NPR to cultivating
              relationships with niche beat reporters, she has been a media
              savvy liaison for numerous principals.
            </p>
            <p class="text-primary-950/70 text-base sm:text-lg">
              Since founding Pollination Communications, Chelsea has advised
              executives on communication strategy, created political
              communications on the local impact of Federal legislation, stood
              up crisis communications strategies, and developed communications
              strategies.
            </p>
            <p class="text-primary-950/70 text-base sm:text-lg">
              Chelsea lives with her husband and kids on Bainbridge Island. In
              her spare time she writes fiction, develops her cooking skills and
              explores the natural wonders of the Olympic peninsula.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
